
:root {
    --side-A-col:#212121;
    --side-B-col:#303030;
    --input: #adadad;
    --screen: #dd2776;
}

body {
    background-color: var(--side-A-col) !important;
}
.my-container {
    background: var(--side-A-col);
    color: white;
    border: 2px dotted var(--side-B-col);
}

.side-A {
    /* border: 3px dotted violet */
}


.nav-row, .declarable-row{
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.nav-buttons {
    overflow: auto;
    padding: 10px 10px 10px 10px;

}

.input-buttons {
    text-align: center;
    color: black;
    background-color: var(--input);
    padding: 2px 2px 2px 2px;
}
    /* this is for the separators in the buttons */
.input-buttons:not(:last-child) {
    border-right: 2px dotted var(--side-A-col);
}

.nav-row input{
   background: var(--input); 
   color: black;
   border:0px solid var(--side-A-col);
}

/* TODO */
.monitor-row {
    background: var(--screen);
    border: 3px solid violet;
    height: 200px;
    text-align: center;
    vertical-align: center;
    
}

.mode-row {
    text-align: center;
    margin-top: 1%;
    /* border: 3px solid gray; */
}

.declarable-row {
    overflow: auto;
    text-align: center;
    /* border: 3px solid brown; */
}

table, thead, tbody {
    background-color: var(--side-A-col);
    /* border: 2px solid rgb(102, 63, 102) !important; */
}


.side-B {
    /* border: 1px dotted blue; */
    height: 100%;
    background-color: var(--side-B-col);
}

.info-row {
    overflow: auto;
    text-align: center;
    margin-top: 2.2%;
    height: 30%;
}

.my-instruction-col {
    height: 500px;
}

.my-instruction-col, .my-memory-col, .my-program-col {
    overflow: auto;
    /* border: 2px dotted white; */
}

.program-row {
    overflow: auto;
    /* text-align: center; */
    /* height: 39%; */
    /* why does it overflow the container height!!!?  */
}

.top-marg {
    margin-top: 10%;
}

.popup-memory {
    /* display: none; */
    display: none;
    margin-top: 5%;
}

form > #lea, form > #leaButton {
    display: none;
}

.printer {
    vertical-align: bottom;
    background-color: var(--side-B-col);
    height: 4.5%;
    border: 3px dotted var(--side-A-col);
    border-top: 1px solid var(--side-A-col);
}
.pasos {
    vertical-align: bottom;
    background-color: var(--side-B-col);
    height: 4.5%;
    border: 3px dotted var(--side-A-col);
    border-bottom: 1px solid var(--side-A-col);
}

.acu {
    border-left: 1px dotted var(--side-A-col);

}